* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.no-margin {
    margin: 0 !important;
}

header,
.navbar-nav .nav-link a,
#login,
.preco h5,
.preco button,
.container-modal,
.gift-option-button, 
.gift-option-button input{
    font-family: "Work Sans", serif;
}

.destaque-carousel h3 {
    font-family: "Poppins", serif;
}


header {
    background-color: #07183b;
    color: #cdd5e6;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.left-head {
    width: 50%;
}

.left-head img {
    height: 60px;
}

.right-head {
    display: flex;
    align-items: center;
    width: 50%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205, 213, 230,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border: none;
}
.navbar-nav .nav-link {
    color: #cdd5e6;
}
.navbar-nav .nav-link.active {
    color: white;
}

.main {
    background-color: #091f4c;
}

section {
    padding: 76px 0;
}

#login {
    background: linear-gradient(to right, #26fe95, #5eff6c);
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: white;
}

.perfil-position {
    position: absolute;
    top: 38px;
    right: 0;
    transform: translate(0, -50%);
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    transform: translateY(5px);
}

.perfil img {
    max-height: 44px;
    height: 100%;
    width: fit-content;
    background-color: white;
    border: solid 2px white;
    border-radius: 100%;
}

.container-modal {
    height: 350px;
    margin-top: calc((100vh - 350px) / 2);
    margin-bottom: calc((100vh - 350px) / 2);
}

.modal-content {
    border-radius: 32px;
    background-color: #07183b;
}

.modal-body, .modal-header {
    background-color: #07183b;
    border-color: #091f4c;
    color: white;
}

.modal-header {
    border-start-start-radius: 32px;
    border-start-end-radius: 32px;
}

.modal-body {
    border-end-end-radius: 32px;
    border-end-start-radius: 32px;
}

#modal-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#modal-form > a {
    align-self: flex-end;
    font-size: 12px;
    text-decoration: none;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 0;
    color: #cdd5e6;
    transform: translate(-50%, -50%);
    font-size: 18px;
    cursor: pointer;
}

#entrar {
    width: 100%;
    border: none;
    background: linear-gradient(to right, #26fe95, #5eff6c);
    color: white;
    height: 36px;
    border-radius: 4px;
}

.carrinho-container {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 10;
}

.carrinho-ancora {
    position: absolute;
}

#carrinho-btn {
    border: none;
    background: linear-gradient(to right, #83a4e7, #2852a5);
    color: #141516;
    padding: 4px 16px;
    border-radius: 4px;
    font-size: 18px;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 10;
}

#carrinho-btn:hover {
    color: white;
}

.collapse-content > button {
    width: 100%;
    border: none;
    background: linear-gradient(to right, #83a4e7, #2852a5);
    border-top-left-radius: 8px;
}

.collapse-content > button:hover {
    color: white;
}

.carrinho-menu {
    background-color: #2852a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 118px;
    padding-left: 8px;
    border-bottom-left-radius: 8px;
}

.carrinho-menu h4 {
    font-size: 16px;
}

.carrinho-menu h5 {
    font-size: 12px;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border-bottom: 20px solid transparent;
    height: 65vh;
}

.produtos::-webkit-scrollbar {
    width: 6px;
    position: absolute;
}

.produtos::-webkit-scrollbar-thumb {
    background: rgba(205, 213, 230, 0.5); /* Cinza discreto */
    border-radius: 10px; /* Borda arredondada */
}

.produtos::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Fica um pouco mais visível ao passar o mouse */
}


.produto {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.produto button {
    border: none;
    padding: 3px;
    background: linear-gradient(to top, red, rgb(255, 239, 239));
    border-radius: 4px;
}

.produto img {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    border-radius: 8px;
}

.produto button:hover {
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    height: 500px;
}

.carousel-item img {
    border-radius: 16px;
}

.destaque-carousel {
    grid-row: 1 / -1;
    height: 500px;
    width: 90%;
    position: relative;
}

.destaque-carousel img {
    height: 100%;
    width: 100%;
}

.sub-destaque-container-top {
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
}

.sub-destaque-container-bottom {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
}

.sub-destaque {
    position: relative;
    height: 90%;
    width: 90%;
    font-size: 9px;
}

.sub-destaque img{
    height: 100%;
    width: 100%;
}

.legenda-produto{
    width: calc(100%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to top, black, transparent);
    color: white;
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    padding-bottom: 20px;
}

.legenda-produto > * {
    margin-left: 20px;
}

.legenda-produto h3 {
    font-weight: bold;
    font-size: 2em;
}

.preco {
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 1em;
}

.preco > span,
.preco h5 {
    font-size: 1.5em;
}

.sub-destaque .preco button i {
    font-size: 1.5em;
}

.preco button, .gift-carrinho {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to right,#26fe95, #5eff6c);
}

.preco > span {
    background: linear-gradient(to right, #ff2474, #f26b0b);
    border-radius: 6px;
    padding: 2px;
}

.preco h5,
.preco > span {
    color: white;
}

.indicador-carousel {
    bottom: -20px;
}

.card {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.card-header.item {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(to right, #ff2474, #f26b0b);
    text-align: center;
    font-size: 14px;
}

.card-header.gift {
    border: none;
}

.card-body.item {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0;
}

.card-body.item h3 {
    font-size: 3em;
}

.item {
    width: 70%;
    background-color: #07183b;
    color: white;
}

.item img {
    width: 100%;
    height: 300px;
}

.item .legenda-produto {
    font-size: 8px;
    position: static;
    background: none;
}   

.desconto-limitado {
    font-size: 18px;
    background: linear-gradient(to right, #ff2474, #f26b0b);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.desconto-limitado h5 {
    display: flex;
    align-items: center;
}

.card.gift {
    display: flex;
    flex-direction: row;
    background-color: #07183b;
}

.card.gift > * {
    padding: 8px;
}

.card.gift img {
    width: 200px;
    height: 100px;
    border-radius: 16px;
}

.card-body {
    padding: 0;
}

.card.gift .legenda-produto {
    position: static;
    background: none;
}

.card.gift .legenda-produto > * {
    margin-left: 0;
}

.card.gift .legenda-produto h3 {
    font-size: 1.4em;
}

.card.gift .legenda-produto .preco {
    width: 100%;
}

.card.gift .legenda-produto .preco button {
    width: 95%;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.modal-content.gift {
    height: 100%;
}

.gift-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
}

.gift-form button {
    align-self: end;
}

.gift-option-button {
    border: 5px solid #14b822dc;
    border-radius: 6px;
    padding: 8px;
    font-size: 32px;
    background-color: #c3c7cf;
    margin: 2px;
    width: 49%;
    font-weight: 600;
    color: white;
    transition: background-color 0.3s ease-in-out, opacity 0.4s;
    min-height: 75px;
}

.gift-active-button {
    background-color: #14b821;
    transition: background-color 0.3s ease-in-out, opacity 0.4s;
}

.gift-option-button:hover {
    border: 5px solid #14ff2788;
}

.gift-active-button:hover {
    border: 5px solid #14b821
}

.gift-option-button input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px inset #063b0b;
    width: 200px;
    display: none;
    text-align: center;
    color: white;
    font-weight: 600;
}


.gift-option-button input::-webkit-outer-spin-button,
.gift-option-button input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer {
    background-color: #07183b;
    color: white;
}

@media screen and (max-width:992px) {
    .perfil-position {
        right: 150px;
        transform: translate(0%, -50%);
    }

    .item {
        width: 100%;
    }

    .card.gift > * {
        padding: 8px;
    }

    .card.gift img {
        width: 150px;
        height: 75px;
    }
}

@media screen and (max-width:576px) {
    section {
        padding: 20px 0;
    }

    .perfil-position {
        top: 45px;
        right: 70px;
        transform: translate(0%, -50%);
    }
    
    .item-pequeno {
        width: 100%;
        height: 200px;
    }

    .item-pequeno h3 {
        font-size: 1em;
    }

    .item-pequeno p {
        font-size: .6em;
    }

    .item-pequeno .preco {
        font-size: .5em;
    }

    .item-pequeno .sub-destaque {
        font-size: 16px;
    }

    .item-pequeno .sub-destaque {
        width: 100%;
        height: 100%;
    }

    .item {
        width: 80%;
    }

    .gift-option-button {
        width: 48%;
    }
}

